.1_623 { 
	overflow:hidden;
}.e1_623 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:720px;
	position:absolute;
}.e1_624 { 
	width:1280px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_625 { 
	transform: rotate(1.5308806722812968e-22deg);
	width:1280px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hhholographic_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_626 { 
	width:639.9989013671875px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_627 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_628 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:58.0479736328125px;
	top:-3.637978807091713e-12px;
}.e1_629 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:116.46410369873047px;
	top:-3.637978807091713e-12px;
}.e1_630 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:174.5120849609375px;
	top:-3.637978807091713e-12px;
}.e1_631 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:232.9303436279297px;
	top:-3.637978807091713e-12px;
}.e1_632 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:290.9761657714844px;
	top:-3.637978807091713e-12px;
}.e1_633 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:349.024169921875px;
	top:-3.637978807091713e-12px;
}.e1_634 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:407.4424133300781px;
	top:-3.637978807091713e-12px;
}.e1_635 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:465.4882507324219px;
	top:-3.637978807091713e-12px;
}.e1_636 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:523.906494140625px;
	top:-3.637978807091713e-12px;
}.e1_637 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:581.9523315429688px;
	top:-3.637978807091713e-12px;
}.e1_638 { 
	width:930.9989013671875px;
	height:720px;
	position:absolute;
	left:349px;
	top:-3.637978807091713e-12px;
}.e1_639 { 
	width:930.9989013671875px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_640 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:291px;
	top:3.637978807091713e-12px;
}.e1_641 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:349.0479736328125px;
	top:0px;
}.e1_642 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:407.464111328125px;
	top:0px;
}.e1_643 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:465.5120849609375px;
	top:0px;
}.e1_644 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:523.9303588867188px;
	top:0px;
}.e1_645 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:581.9761962890625px;
	top:0px;
}.e1_646 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:640.024169921875px;
	top:0px;
}.e1_647 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:698.4423828125px;
	top:0px;
}.e1_648 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.418636322021484px;
	height:720px;
	position:absolute;
	left:756.48828125px;
	top:0px;
}.e1_649 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:814.906494140625px;
	top:0px;
}.e1_650 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.05000000074505806) 0%,rgba(0, 0, 0, 1) 76.04166865348816%,rgba(255, 255, 255, 0.05000000074505806) 100%) ;
	width:58.04654312133789px;
	height:720px;
	position:absolute;
	left:872.9523315429688px;
	top:0px;
}.e1_651 { 
	color:rgba(255, 255, 255, 1);
	width:590px;
	height:48px;
	position:absolute;
	left:0px;
	top:336px;
	font-family:Syne;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e1_652 { 
	width:303px;
	height:58px;
	position:absolute;
	left:445px;
	top:586px;
}.e1_653 { 
	background-color:rgba(147.68749594688416, 147.68749594688416, 147.68749594688416, 1);
	opacity:0.30000001192092896;
	width:303px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_654 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:171px;
	height:13px;
	position:absolute;
	left:71px;
	top:40px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e1_655 { 
	background-color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	opacity:0.5;
	width:140px;
	height:20px;
	position:absolute;
	left:122px;
	top:13px;
	border-radius:Symbol(figma.mixed)px;
}.e1_656 { 
	background-color:rgba(217.0000022649765, 238.00000101327896, 95.00000193715096, 1);
	width:24px;
	height:20px;
	position:absolute;
	left:266px;
	top:13px;
	border-radius:Symbol(figma.mixed)px;
}.e1_657 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:13px;
	position:absolute;
	left:140px;
	top:17px;
	font-family:Abhaya Libre ExtraBold;
	text-align:right;
	font-size:11px;
	letter-spacing:0;
}.e1_658 { 
	transform: rotate(45.32818049775015deg);
	width:6.403123378753662px;
	height:0px;
	position:absolute;
	left:275.2491455078125px;
	top:20.723224639892578px;
	border-radius:4px;
}.1_658 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_659 { 
	color:rgba(255, 255, 255, 1);
	width:133px;
	height:14px;
	position:absolute;
	left:14px;
	top:16px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}